
.MainContainer{
    display: flex;
    width: calc(100vh - 150px)px;

    background-color: black;
    
}
.image-background {
    width:350px;
    color: transparent;
  }

 .image-background > p{
    background: linear-gradient(45deg,rgb(103, 57, 212), rgb(62, 7, 61));
    background-clip: text;
    -webkit-background-clip: text;
 } 

.image-background2{
    width:700px;
    height:100px;
    color: transparent;
 }

 .image-background2 > p{
    background: linear-gradient(45deg,rgb(103, 57, 212), rgb(62, 7, 61));
    background-clip: text;
    -webkit-background-clip: text;
 } 

.Section2{
    margin-top:55vh;
    white-space: initial;
  
    align-self: center;
}

.Section2 .Section2TextBox{
    width:950px;
    align-self: center;
    
}


.Section3{
    height: 120vh;
}
.TimeLineContainer{
    height: calc(100vh-450px)px;
    scrollbar-width: none;
    scroll-behavior: smooth;
}


.TimeLineContainer::-webkit-scrollbar{
    display: none;
}

.Section4{
    height: max-content;
}
#MagicWall{
    height: max-content;
    
}
.tagCanvas{
    width: 700px;
}


@media only screen and (max-width: 800px){
    .tagCanvas{
        display: none;
    }
}

