.MainContainer{
    display: flex;
    width: calc(100vh - 150px)px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    
}

.Section2{
    margin-top:55vh;
    white-space: initial;
  
    align-self: center;
}

.Section2 .Section2TextBox{
    width:950px;
    align-self: center;
    
}


.Section3{
    height: 120vh;
}
.TimeLineContainer{
    height: calc(100vh-450px)px;
    scroll-behavior: smooth;
    
}
.Section4{
    height: max-content;
}
#MagicWall{
    height: max-content;
    
}
.tagCanvas{
    width: 700px;
}


@media only screen and (max-width: 800px){
    .tagCanvas{
        display: none;
    }
}

.Section5{
    background-color: black;
}