*{
    margin:0;
    padding: 0;;
}
.NavContainer{
    left: 0;

    width:161px;
    list-style: none;
    background-color: black;
}
.SectionContainer ul li{
    width: 115px;
    height:50px;
    border-radius: 30px;
    margin-left: 7px;
}