*{
    margin:0;
    padding: 0;;
}
.NavContainer{
    left: 0;
    display: flex;
    flex-direction: column;
    width:150px;
    list-style: none;
    border-right: solid 3px rgb(59, 153, 211);
}
.SectionContainer ul li{
    border-top: solid 3px rgb(59, 153, 211);
    border-bottom: solid 3px rgb(59, 153, 211);
}