
.cards{
    left:0;
    width: 500px;
    height: 200px;
    display:flex;    
    border-radius: 30px;
    border: 20px linear-gradient(rgb(129, 118, 207),rgb(143, 18, 154));
    background: white;
    overflow: hidden;
    align-items: center;
    justify-items: center;
  }