
.MuiInputBase-input{
    background-color: white !important;
    color:blue;
}

.MuiTextField-root{
    text-decoration: blue;
    color:blue;
    
}

.MuiInputBase-inputMultiline{
    background-color: white !important;
    width: 200px;
}

.muiTextBox{
    background-color: white !important;
}

.MuiOutlinedInput-notchedOutline{
    background-color: white;
}

.SubmitButton{
    background-color: rgb(144, 7, 117) !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
  -moz-appearance: textfield;
}
