.ProjectContainer{
    position:relative;
    height: 320px;
    width: 330px;
    border-radius: 10px;
}

.ProjectContainer:hover .model{
    position:absolute;
    display: flex;
    background: transparent;
} 

.ProjectContainer:hover .Container2 img{
    opacity: 0.2;
}
.model{
    height: 320px;
    width: 330px;
    cursor: pointer;
}